<% provide(:title, "Cambiar contraseña") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <h2>Cambiar contraseña</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <%= f.label :password, "Nueva contraseña" %>
      <% if @minimum_password_length %>
        <em>(mínimo <%= @minimum_password_length %> caracteres)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>

      <%= f.label :password_confirmation, "Confirmar contraseña" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>

      <%= f.submit "Cambiar mi contraseña", class: "btn btn-primary" %>

    <% end %>
    <%= render "employers/shared/links" %>
  </div>
</div>
