<ul>
  <li>Nombre: <%= "#{@worker.name} #{@worker.last_name}" %></li>
  <li>Fecha de nacimiento: <%= "#{@worker.birthdate}" %></li>
  <li>RUT: <%= "#{@worker.rut}" %></li>
  <li>Correo electrónico: <%= "#{@worker.email}" %></li>
  <li>Universidad / Instituto: <%= "#{@worker.college}" %></li>
  <li>Carrera / Profesión: <%= "#{@worker.career}" %></li>
  <li>Dirección<%= "#{@worker.address}" %></li>
</ul>
