<header class="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="logo" class="navbar-brand" href="/">PARTIME</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "FAQ", help_path %></li>
          <li><%= link_to "Quienes somos", about_path %></li>
          <% if worker_signed_in? %>
            <%= render 'layouts/worker_menu' %>
          <% elsif employer_signed_in? %>
            <%= render 'layouts/employer_menu' %>
          <% else %>
            <li><%= link_to "Mi cuenta", new_worker_session_path %></li>
            <li><%= link_to "Cuenta empresa", employer_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
